/******************************** CSS RESETS ********************************/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, menu, nav, section,
time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

main, article, aside, figure, footer, header, nav, section,
details, summary {
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/******************************** CODE FROM HERE ********************************/


/* These are viariables. They are being used throughout css for easy adjustment */

:root {
    --bg: #282128;
    --red: #F04F53;
    --hover:#ff585b; 
    --margin-full: 10rem;
    --margin-half: 5rem;
    --margin-twothirds: 6.6rem;
    --margin-third: 3.3rem;
    --paragraph-break: 1rem;
    --font-regular: 'abc_favorit_trialregular';
    --font-bold: 'abc_favorit_trialbold';
    --font-medium: 'abc_favorit_trialmedium';
    --font-light: 'abc_favorit_triallight';
}

body {
    background-color: var(--bg);
    font-family: var(--font-regular);
    color: white;
    font-size: 1rem;
}

a:link {
    color:var(--red);
    transition: all 0.2s;
  }

a:visited {
    color:var(--red);
    transition: all 0.2s;
  }


  a:hover {
    color:var(--hover);
    transition: all 0.2s;
  }

/* HEADER */

.header-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:  auto;
    margin-right:  auto;
    margin-top: var(--margin-full);
    margin-bottom: var(--margin-twothirds);
}

.header-title {
    font-size: 10vw;
}

.header-star {
    font-size: 10vw;
    color: var(--red);
}

.header-copy {
    opacity: 0.9;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.header-copy span {
    font-family: var(--font-light);
    width: 40%;
    font-size: 25px;
}

/*  AIRTABLE */

.airtable-container{
width: 80%;
margin: var(--margin-full) auto;
}

/* DIVIDER */

.divider {
    width: 80%;
    margin: var(--margin-half) auto;
    opacity: 0.5;
}

.divider hr {
    border-top: 1px solid white;
}

/* BODY */

.body-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.sub-title{
    width: 100%;
    font-size: 3rem
}

.content-container{
    opacity: 0.9;
    width: 100%;
    display: flex;
    justify-content: center;

}
.content{
    margin-top: var(--margin-third);
    width: 50%;
    display: flex;
    flex-direction: column;
}

.spacing {
 min-width: 5%;
}

.content-copy{
margin: var(--paragraph-break) 0;
line-height: 1.6;
}

.vimeo-container
{
margin-top: var(--paragraph-break);
margin-bottom: var(--paragraph-break);
}

.worklist{
  display: flex;
  flex-direction: column;
}

.worklist-title{
    text-decoration: underline;

    margin-top: var(--paragraph-break);
    margin-bottom: var(--paragraph-break);

}

.worklist-item{
line-height: 1.6;
}


