/******************************** CSS RESETS ********************************/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, menu, nav, section,
time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

main, article, aside, figure, footer, header, nav, section,
details, summary {
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/******************************** CODE FROM HERE ********************************/


/* These are viariables. They are being used throughout css for easy adjustment */

:root {
    --bg: #282128;
    --red: #F04F53;
    --hover:#ff585b; 
    --margin-full: 10rem;
    --margin-half: 5rem;
    --margin-twothirds: 6.6rem;
    --margin-third: 3.3rem;
    --paragraph-break: 1rem;
    --margin-full-mobile: calc(var(--margin-full) / 2);
    --margin-half-mobile: calc(var(--margin-half) / 2);
    --margin-twothirds-mobile: calc(var(--margin-twothirds) / 2);
    --margin-third-mobile: calc(var(--margin-third) / 2);
    --font-regular: 'abc_favorit_trialregular';
    --font-bold: 'abc_favorit_trialbold';
    --font-medium: 'abc_favorit_trialmedium';
    --font-light: 'abc_favorit_triallight';
    --font-size-mobile: 16px;
    --font-size-desktop: 20px;
    --font-size-subtitle-desktop: 3rem;
    --font-size-subtitle-mobile: 1.8rem;
}

body {
    background-color: var(--bg);
    font-family: var(--font-light);
    color: white;
    font-size: var(--font-size-desktop);
}

a:link {
    color:var(--red);
    transition: all 0.2s;
  }

a:visited {
    color:var(--red);
    transition: all 0.2s;
  }


  a:hover {
    color:var(--hover);
    transition: all 0.2s;
  }

/* HEADER */

.header-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:  auto;
    margin-right:  auto;
    margin-top: var(--margin-full);
    margin-bottom: var(--margin-twothirds);
}

.header-title {
    font-family: var(--font-regular);
    font-size: 10vw;
    
}

.header-star {
    font-size: 10vw;
    color: var(--red);
}

.header-copy {
    opacity: 0.9;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.header-copy span {
    font-family: var(--font-light);
    width: 40%;
    font-size: var(--font-size-desktop);
}



/* DIVIDER */

.divider {
    width: 80%;
    margin: var(--margin-half) auto;
    opacity: 0.5;
}

.divider hr {
    border-top: 1px solid white;
}

/* BODY */

.body-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.sub-title{
    width: 100%;
    font-size: var(--font-size-subtitle-desktop);
}

.content-container{
    opacity: 0.9;
    width: 100%;
    display: flex;
    justify-content: center;

}
.content{
    margin-top: var(--margin-third);
    width: 50%;
    display: flex;
    flex-direction: column;
}

.spacing {
    min-width: 5%;
}

.content-copy{
    margin: var(--paragraph-break) 0;
    line-height: 1.5;
}

.vimeo-container
{
    margin-top: var(--paragraph-break);
    margin-bottom: var(--paragraph-break);
}

.worklist{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.worklist-title{
    text-decoration: underline;

    margin-top: var(--paragraph-break);
    margin-bottom: var(--paragraph-break);
}

.worklist-item{
    line-height: 1.5;
}

.item-title{
  margin-right: 0.5rem;
  margin-top: 0.2rem;

}

.work-item-inner{
display:inline;
}

/*  AIRTABLE */

.airtable-container{
    width: 80%;
    margin: var(--margin-full) auto;
}


@media screen and (max-width: 800px) {

    .header-container{
    margin-top:var(--margin-full-mobile);
    margin-bottom: var(--margin-twothirds-mobile);
    }

    .divider {
        width: 80%;
        margin: var(--margin-half-mobile) auto;
        opacity: 0.5;
    }
     
    .header-copy {
        justify-content: center;

    }
    .header-copy span {
        width: 100%;
        font-size: var(--font-size-mobile);
    }

    .sub-title{
        font-size:var(--font-size-subtitle-mobile);
    }
        .content-container{
            font-size:var(--font-size-mobile);
             flex-direction: column;
        }

.content{
    margin-top: var(--paragraph-break);
    width: 100%;
}

.vimeo-container
{
    margin-top: 0;
}

.airtable-container{
    width: 80%;
    margin: var(--margin-half-mobile) auto;
}
.work-item-inner{
display:block;
}




}
